.sheet{
background-color: bisque;
display:flex;
justify-content: space-between;
}

.images{
   
    display: flex;
    justify-content: space-evenly;
}

.logos{
    
    display: flex;
    justify-content: flex-end;
}
h1{
    color:#f6f8;
    margin-left: 650px;
}
p,h2{
    text-align: center;
    font-style: italic;
    color:yellow;
}
body{
    background-image: url("abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 110%;
}
ol{
    color:sandybrown;
    font-size: 140%;
}
.ref a{
    margin-left: 50px;
}